c:\CASA\WinRAR\*.rar
c:\CASA\WinRAR\*.zip
c:\CASA\WinRAR\*.7z

c:\CASA\WinRAR\WIN_RAR_BAT\ZIP_SALVATAGGI\*.rar
c:\CASA\WinRAR\WIN_RAR_BAT\ZIP_SALVATAGGI\*.zip
c:\CASA\WinRAR\WIN_RAR_BAT\ZIP_SALVATAGGI\*.7z
